
/*******************************************
IMPORTS
*******************************************/
@import url('//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  color: #363636;
  background: #317eac;
}
/*******************************************
CONTAINER
*******************************************/
.container{
  margin-top: 65px;
  margin-bottom: 30px;
  background: #fff;
  
  -webkit-box-shadow:0px 0px 50px rgba(0,0,0,0.5);
  box-shadow:0px 0px 50px rgba(0,0,0,0.5);
}
/*******************************************
PHOTO (AVATAR)
*******************************************/
#photo-header{
  margin-top: -70px;
}
#photo{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: inherit;
  display: inline-block;
}
#photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#text-header h1{
  margin: 0;
  padding: 0;
  font-size:1.8em;
  font-weight: 700;
}

#text-header h1 span{
  color: #F0563D;
}
#text-header h1 sup{
  opacity: 0.5;
}
/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  color: #F0563D;
  font-weight: 700;
  font-size:1.4em;
}
.box h2:before{
  content: '<';
  margin-right: 1px;
}
.box h2:after{
 content: '>';
 margin-left: 1px;
}
.box p{

}


/*******************************************
CONTACT
*******************************************/
.contact-section {
	font-size:0.9em;
}
.contact-item{
  width: 100%;
  float: left;
  border-bottom:1px solid #aaa;
}
.contact-item .icon{
  padding: 10px;
  color:#aaa;
}

.contact-item .icon .contact-item-icon-hover {
  color:#317eac;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-weight: 700;
  opacity: 0.9;
  font-size:1.2em;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  opacity: 0.7;
  font-size:1.2em;
}
/*******************************************
SKILLS
*******************************************/
.skills-legend{
  margin-top: 20px;
  opacity: 0.8;
  margin-left:130px;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  display: inline-block;
  color: #a9a9a9;
  float: left;
}

.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-top:25px;
    background: #eee;
    height: 25px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    text-align:center;
    display: block;
    background: rgba(0, 0, 0, 0.25);
    padding: 0px 5px 0px 5px;
    height: 25px;
    line-height: 25px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    min-width:130px;
    height: 25px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skillbar-bar .skillbar-experience {
	display:inline-block;
	margin:2px 0 0 150px;
	color:#e6e6e6;
}

.skills-additional
{
    margin:0px 0px 5px 130px;
    border-radius: 0px;
    border-bottom-radius: 3px;
    border-top: none;    
}

/*******************************************
Experience
*******************************************/
#experience { 
	
}

#experience h2 { 
	color:#3f903f;	
}
/*******************************************
Education
*******************************************/
#education { 
		
}

#education h2 {
	color:#5bc0de;
}

/*******************************************
Professional Development
*******************************************/
#professional-development {
	
}

#professional-development h2 {
	color:#f0ad4e;
}
/*******************************************
TIMELINE
*******************************************/
.timeline {
	list-style:none;
	padding:20px 0;
	position:relative;
}

.timeline:before {
	top:0;
	bottom:0;
	position:absolute;
	content:" ";
	width:3px;
	background-color:#eee;
	left:5%;
	margin-left:-1.5px;
}

.timeline > li {
	margin-bottom:20px;
	position:relative;
}

.timeline > li:before,.timeline > li:after {
	content:" ";
	display:table;
}

.timeline > li:after {
	clear:both;
}

.timeline > li:before,.timeline > li:after {
	content:" ";
	display:table;
}

.timeline > li:after {
	clear:both;
}

.timeline > li > .timeline-panel {
	width:86%;
	float:left;
	border:1px solid #d4d4d4;
	border-radius:2px;
	padding:20px;
	position:relative;
	/*-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.175);
	box-shadow:0 1px 6px rgba(0,0,0,0.175);*/
}

.timeline > li > .timeline-panel:before {
	position:absolute;
	top:26px;
	right:-15px;
	display:inline-block;
	border-top:15px solid transparent;
	border-left:15px solid #ccc;
	border-right:0 solid #ccc;
	border-bottom:15px solid transparent;
	content:" ";
}

.timeline > li > .timeline-panel:after {
	position:absolute;
	top:27px;
	right:-14px;
	display:inline-block;
	border-top:14px solid transparent;
	border-left:14px solid #fff;
	border-right:0 solid #fff;
	border-bottom:14px solid transparent;
	content:" ";
}

.timeline > li > .timeline-badge {
	color:#fff;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	position:absolute;
	top:16px;
	left:5%;
	margin-left:-25px;
	background-color:#999;
	z-index:100;
	border-top-right-radius:50%;
	border-top-left-radius:50%;
	border-bottom-right-radius:50%;
	border-bottom-left-radius:50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float:right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width:0;
	border-right-width:15px;
	left:-15px;
	right:auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width:0;
	border-right-width:14px;
	left:-14px;
	right:auto;
}

.timeline-badge.primary {
	background-color:#2e6da4!important;
}

.timeline-badge.success {
	background-color:#3f903f!important;
}

.timeline-badge.warning {
	background-color:#f0ad4e!important;
}

.timeline-badge.danger {
	background-color:#d9534f!important;
}

.timeline-badge.info {
	background-color:#5bc0de!important;
}

.timeline-title {
	margin-top:0;
}

.timeline-body > p,.timeline-body > ul {
	margin-bottom:0;
}

.timeline-body > p + p {
	margin-top:5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left:40px;
	}
	
	ul.timeline > li > .timeline-panel {
		width:calc(100% - 90px);
		width:-moz-calc(100% - 90px);
		width:-webkit-calc(100% - 90px);
	}
	
	ul.timeline > li > .timeline-badge {
		left:15px;
		margin-left:0;
		top:16px;
	}
	
	ul.timeline > li > .timeline-panel {
		float:right;
	}
	
	ul.timeline > li > .timeline-panel:before {
		border-left-width:0;
		border-right-width:15px;
		left:-15px;
		right:auto;
	}
	
	ul.timeline > li > .timeline-panel:after {
		border-left-width:0;
		border-right-width:14px;
		left:-14px;
		right:auto;
	}
}

/*******************************************
SKILL COLORS
*******************************************/
.color-html {
    background:#16a085;
}

.color-css {
    background:#2980b9;
}

.color-php {
    background:#8892BF;
}

.color-coldfusion {
    background:#007DD8;
}

.color-ruby {
    background:#CC342D;
}

.color-javascript {
    background: #0095dd;
}

.color-mysql { 
    background:#015a84;
}

.color-sql-server {
    background:#ba141a;
}

.color-server {
	background:#c4c4c4;
}
